@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@import url("https://fontsapi.zeoseven.com/86/main/result.css");

@font-face {
  font-family: RawMarukoGothicCJKtc-Regular;
  src: url(./RawMarukoGothicCjkTc-Regular.woff2) format("woff2");
}
/* @font-face {
  font-family: RawMarukoGothicCJKjp-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/maruko-gothic@1.001/webfont/raw/CJK%20JP/RawMarukoGothicCjkJp-Regular.woff2) format("woff2");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;